<h1>Gráfico de Promedios</h1>

<table border="1">
<tr>
    <th>Actividad</th>
    <th>Promedio</th>
</tr>

{% for d in datos %}
<tr>
    <td>{{ d.actividad }}</td>
    <td>{{ d.promedio }}</td>
</tr>
{% endfor %}
</table>


<h1>📊 Gráfico de Promedios</h1>

<canvas id="miGrafico" width="400" height="200"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const datos = {{ datos|safe }};

    const labels = datos.map(d => d.actividad);
    const valores = datos.map(d => d.promedio);

    const ctx = document.getElementById('miGrafico').getContext('2d');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Promedio',
                data: valores,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>