<h1>Notas</h1>

<canvas id="grafico"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
let etiquetas = [];
let valores = [];

{% for n in notas %}
    etiquetas.push("{{ n.actividad }}");
    valores.push({{ n.nota }});
{% endfor %}

new Chart(document.getElementById("grafico"), {
    type: "bar",
    data: {
        labels: etiquetas,
        datasets: [{
            label: "Notas",
            data: valores
        }]
    }
});
</script>

<a href="/admin-panel/">Volver</a>